/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13/11/2016, 19:29:49
    Author     : Alexandre
*/
body{
    background-color: rgba(107, 132, 118, 0.98);;
}

.btn-info {
    background-color: rgba(73, 100, 85, 0.62);
}

.btn-primary {
    color: #fff;
    background-color: #43564c;
    border-color: #6d8678;
}

.btn-primary.active{
    color: #fff;
    background-color: #6d8678;
    border-color: #6d8678;
}

.btn-primary.active:hover, .btn-primary:hover{
    color: #fff;
    background-color: #578098;
    border-color: #6d8678;
}